.box {
  height: 100px;
  width: 100px;
  background-color: red;
  animation-name: moving;
  animation-duration: 2000ms;
  animation-delay: 2s;
  /* animation-fill-mode: forwards; */
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes moving {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(50px);
    background-color: blue;
  }
  50% {
    transform: translate(50px, 50px);
    background-color: tomato;
  }
  75% {
    transform: translate(50px, -50px);
    background-color: aqua;
  }
  100% {
    transform: translate(-50px, -50px);
    background-color: burlywood;
  }
}
