@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  background: #000038;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  font-size: 5rem;
  font-weight: 700;
}

.alphabet {
  color: white;
  transition: all ease-in-out;
  transition-duration: 60ms;
}

.container:hover .alphabet {
  color: #dc02c3;
}
